.open-menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding-top: 12%;
  text-align: center;
  background-color: rgba(253, 218, 185, 0.95);
  transition: .3s;
}

.Menu-mobile ul li {
  font-size: 25px;
  color: #1d0605e5;
  font-weight: 900;
  margin-top: 20px;
}

.Menu-mobile ul li a {
  color: inherit;
}

.close-menu-mobile {
  visibility: hidden;
  opacity: 0;
  height: 0;
  top: 0;
  width: 0;
}
.Contact-mobile {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 15px;
}
.Contact-mobile img {
  width: 30px;
}
.mobile-contactWhatsapp {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f59a1b;
  padding: 0.3rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  width: 16%;
  margin: 0 auto;
  color: #ffffff;
  font-weight: 700;
}

@media (max-width: 428px) {
  .mobile-contactWhatsapp {
    width: 29%;
  }
}
