.brands {
  position: absolute;
  left: 17%;
  background-color: #ffffff;
  padding: 20px;
  width: 68%;
  margin: 0 auto;
  margin-top: -52px;
  border-radius: 0.2rem;
  box-shadow: 0 4px 40px 0 #b29b84;
  display: flex;
}
.brands section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.brands section .artisanal,
.attendance,
.delivery-speed {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

#line-vertical {
  height: 100%;
  border-right: 1px solid rgba(73, 46, 21, 0.15);
}

.brands-logo img {
  width: 25px;
}

.brands-logo {
  display: flex;
  align-items: center;
  background-color: #fae2cb;
  border-radius: 50%;
  padding: 10px;
}

.brands-info p:nth-child(1) {
  font-size: 1.25rem;
  font-family: "Lilita One", cursive;
  font-weight: 400;
  color: #1d0605;
}

.brands-info p:nth-child(2) {
  font-size: 1rem;
  font-family: "Lato";
  font-weight: 400;
  color: rgba(29, 6, 5, 0.69);
  opacity: 60%;
}


@media (max-width: 428px) {
  .brands {
    width: 74.5%;
    left: 13%;
    padding: 20px 50px;
    margin-top: -138.28px;
  }
  .brands section #line-vertical {
    background-color: #492E1526;
    height: 1px;
    width: 100%;
    margin: -15px 0;
  }
  .brands section {
    display: flex;
    justify-content:stretch;
    flex-direction: column;
    align-items: flex-start;
  }
}
