.Footer {
  height: 30px;
  padding: 2% 10%;
  display: flex;
  flex-direction: column;
}

.Footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Footer div .scrool-footer section ul {
  display: flex;
  gap: 20px;
}
.Footer div .scrool-footer section ul li a {
  color: #3a210b;
  color: inherit;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size:1.125rem;
}
.Footer div .scrool-footer section ul li a:hover {
  color: #32201f;
  font-weight: 700;
}
.Footer div .social-media {
  gap: 10px;
}
.Footer div .social-media img,
.Footer div .Logo-footer img {
  filter: brightness(0) saturate(100%) invert(74%) sepia(73%) saturate(2846%)
    hue-rotate(348deg) brightness(100%) contrast(93%);
}
.Footer div #rowFooter {
  margin: 20px 0;
  background-color: #1d060526;
  height: 2px;
  width: 100%;
  display: none;
}
.Footer .Copyright #rowFooterCopiright {
  margin: 20px 0 10px 0;
  background-color: #1d060526;
  height: 2px;
  width: 100%;
}
.Footer .Copyright{
  display: flex;
  flex-direction: column;
}
.Footer .Copyright p span {
  font-size: 14px;
  font-weight: 700;
  color: #020e1fb0;
  font-family: "Inter Tight", sans-serif;
}

.Footer .Copyright p {
  margin: 0 auto;
  padding-bottom: 15px;
  font-size: 14px;
  color: #020e1f4d;
  font-weight: 700;
  font-family: "Inter Tight", sans-serif;
}

@media (max-width: 428px) {
  .Footer {
    padding: 3% 6%;
  }
  .Footer div {
    display: flex;
    flex-direction: column;
  }
  .Footer div .social-media {
    width: 100%;
  }
  .Footer div .Logo-footer {
    width: 100%;
    order: 1;
  }
  .Footer div .social-media {
    order: 2;
  }
  .Footer div .scrool-footer {
    order: 3;
  }
  .Footer div .scrool-footer {
    width: 100%;
  }
  .Footer div .scrool-footer section ul {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .Footer div #rowFooter {
    margin: 20px 0;
    background-color: #1d060526;
    height: 2px;
    width: 100%;
    display: block;
  }
  .Footer .Copyright #rowFooterCopiright {
    display: none;
  }
}
