.Main .our-deliveries .service-deliveries {
  padding-top: 70px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.Main .our-deliveries .service-deliveries .deliveries .title p {
  font-size: clamp(1.4rem, 2.22vw, 2rem);
  color: #1d0605e5;
  font-weight: 400;
  font-family: "Lilita One", cursive;
  padding-bottom: 15px;
}
.Main .our-deliveries .service-deliveries .deliveries .deliveries-cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Main .our-deliveries .service-deliveries .deliveries .deliveries-cards .card {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  border-radius: 10px;
  gap: 15px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.5ms ease-in-out;
}
.Main
  .our-deliveries
  .service-deliveries
  .deliveries
  .deliveries-cards
  .card:hover {
  box-shadow: 0 4px 40px 0 #b29b84;
  scale: 1.01;
}

.Main
  .our-deliveries
  .service-deliveries
  .deliveries
  .deliveries-cards
  .card
  .card-logo {
  background-color: #fae2cb;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Main
  .our-deliveries
  .service-deliveries
  .deliveries
  .deliveries-cards
  .card
  .card-logo
  img {
  width: 30px;
}
.Main
  .our-deliveries
  .service-deliveries
  .deliveries
  .deliveries-cards
  .card
  .card-info
  p:nth-child(1) {
  font-size: clamp(1rem, 2.38vw, 1, 25rem);
  font-weight: 400;
  color: #1d0605e5;
  font-family: "Lilita One", cursive;
}
.Main
  .our-deliveries
  .service-deliveries
  .deliveries
  .deliveries-cards
  .card
  .card-info
  p:nth-child(2) {
  font-size: clamp(0.8rem, 1.11vw, 1rem);
  font-weight: 400;
  color: #1d0605b0;
  font-family: "Lato", sans-serif;
  padding-top: 5px;
}

.btn-delivery {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 94%;
  height: 120px;
  background-color: #f43127;
  border-radius: 10px;
}

.btn-delivery div {
  display: flex;
  flex-direction: row;
}

.btn-delivery div .title-request {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.btn-delivery div .title-request p:nth-child(1) {
  color: #1d0605b0;
  font-size: clamp(1.2rem, 1.74vw, 1.563rem);
  font-weight: 400;
  font-family: "Lilita One", cursive;
}

.btn-delivery div .title-request p:nth-child(2) {
  color: #ffffff;
  font-size: clamp(0.8rem, 1.12vw, 1rem);
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.btn-delivery .btn-request button {
  background-color: #fae4d0;
  padding: 8px 16px;
  font-size: clamp(0.8rem, 1.25vw, 1.125rem);
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #f43127;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}
.service-deliveries
  .deliveries
  .deliveries-cards
  .card
  .card-logo
  #SwitchColor {
  filter: brightness(0) saturate(100%) invert(20%) sepia(32%) saturate(1855%)
    hue-rotate(356deg) brightness(96%) contrast(93%);
}

@media (max-width: 1176px) {
  .service-deliveries img {
    width: 450px;
  }
}
@media (max-width: 906px) {
  .service-deliveries img {
    width: 370px;
  }
}
@media (max-width: 740px) {
  .service-deliveries .woman-eat img {
    width: 300px;
  }
  .Main .our-deliveries .service-deliveries .deliveries .deliveries-cards .card {
    padding: 10px;
  }
}